In [1]:
import pandas as pd

df_pona = pd.read_csv('..\data\cleaned_PONA_data.csv')
df_pona['日期'] = pd.to_datetime(df_pona['日期'])
df_pona

,日期,n-P值,i-P值,n+i P值,Aromatics,N,O,乙烯產量,丙烯產量
0,2011-01-01,37.37,37.02,74.39,7.48,14.62,0.38,2027.790,1013.428
1,2011-01-02,37.55,38.12,75.67,6.57,15.11,0.67,2037.689,1000.636
2,2011-01-03,37.55,38.12,75.67,6.57,15.11,0.67,2033.379,1032.877
3,2011-01-04,38.38,40.75,79.13,5.77,12.11,0.67,2092.455,1030.667
4,2011-01-05,38.38,40.75,79.13,5.77,12.11,0.67,2074.320,1026.670
...,...,...,...,...,...,...,...,...,...
3608,2021-08-27,39.25,38.05,77.30,5.25,13.28,1.93,2108.536,1066.904
3609,2021-08-28,39.25,38.05,77.30,5.25,13.28,1.93,2115.991,1066.902
3610,2021-08-29,39.25,38.05,77.30,5.25,13.28,1.93,2110.453,1064.791
3611,2021-08-30,39.25,38.05,77.30,5.25,13.28,1.93,2107.406,1061.168
3612,2021-08-31,39.35,39.92,79.27,4.58,13.58,0.94,2107.406,1061.168

In [2]:
df_cot = pd.read_csv('..\data\cleaned_COT_data.csv')
df_cot['日期'] = pd.to_datetime(df_cot['日期'])
df_cot

,日期,H-110 COT,H-120 COT,H-130 COT,H-140 COT,H-150 COT,H-160 COT,H-170 COT,H-180 COT,H-190 COT,...,H-111 裂解度,H-121 裂解度,H-131 p1 裂解度,H-131 p2 裂解度,H-131 p3 裂解度,H-131 p4 裂解度,H-141 p1 裂解度,H-141 p2 裂解度,H-141 p3 裂解度,H-141 p4 裂解度
0,2018-08-01 00:00:00,820.046387,29.800571,820.729370,820.600525,820.039612,819.586975,820.273438,821.509033,820.206848,...,51.918655,56.079163,0.737323,1.926079,2.538001,0.788595,0.955707,1.425715,1.367721,1.333376
1,2018-08-01 00:10:00,818.146851,29.580025,818.534668,818.692932,818.604431,816.963257,818.849060,816.913757,819.320862,...,51.831528,56.290543,0.737323,1.926079,2.499612,0.777962,0.971119,1.500115,1.355542,1.308600
2,2018-08-01 00:20:00,818.323975,29.494396,819.611572,819.289856,820.808228,819.384216,819.460083,820.118835,819.244202,...,52.214375,56.338554,0.737323,1.926079,2.494183,0.781778,0.975402,1.406393,1.361863,1.315129
3,2018-08-01 00:30:00,819.604675,29.330263,819.857727,819.296204,819.349243,819.066467,818.818909,818.713257,819.158691,...,52.014725,56.083778,0.737323,1.926079,2.458577,0.779007,0.975402,1.499078,1.323431,1.267936
4,2018-08-01 00:40:00,821.526184,29.456963,819.666077,820.332581,820.627075,820.719360,819.730835,821.595703,820.747253,...,51.780170,56.167366,0.737323,1.926079,2.446416,0.781416,0.973371,1.441758,1.343849,1.280648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153355,2021-06-30 23:10:00,27.408436,27.526560,27.766571,27.404127,26.939030,27.202906,26.899256,26.655487,27.490553,...,100.000000,100.000000,0.967655,2.934888,0.867311,0.882484,0.000000,0.000000,0.000000,0.000000
153356,2021-06-30 23:20:00,27.407352,27.488029,27.798372,27.398758,26.901344,27.243582,26.871965,26.637991,27.498505,...,100.000000,100.000000,0.967655,2.934888,0.867311,0.882484,0.000000,0.000000,0.000000,0.000000
153357,2021-06-30 23:30:00,27.393206,27.499577,27.752710,27.399584,26.891518,27.195532,26.831932,26.626566,27.481943,...,100.000000,100.000000,0.967655,2.934888,0.867311,0.882484,0.000000,0.000000,0.000000,0.000000
153358,2021-06-30 23:40:00,27.396896,27.454544,27.733051,27.381708,26.855377,27.172764,26.830599,26.643572,27.473854,...,100.000000,100.000000,0.967655,2.934888,0.867311,0.882484,0.000000,0.000000,0.000000,0.000000
153359,2021-06-30 23:50:00,27.360914,27.440886,27.734583,27.331905,26.831297,27.138718,26.834709,26.599140,27.464939,...,100.000000,100.000000,0.967655,2.934888,0.867311,0.882484,0.000000,0.000000,0.000000,0.000000

In [3]:
df_merged = pd.merge(df_cot,df_pona,how='left',on='日期')
df_merged

,日期,H-110 COT,H-120 COT,H-130 COT,H-140 COT,H-150 COT,H-160 COT,H-170 COT,H-180 COT,H-190 COT,...,H-141 p3 裂解度,H-141 p4 裂解度,n-P值,i-P值,n+i P值,Aromatics,N,O,乙烯產量,丙烯產量
0,2018-08-01 00:00:00,820.046387,29.800571,820.729370,820.600525,820.039612,819.586975,820.273438,821.509033,820.206848,...,1.367721,1.333376,42.89,39.77,82.66,3.24,13.31,0.48,2125.68,944.59
1,2018-08-01 00:10:00,818.146851,29.580025,818.534668,818.692932,818.604431,816.963257,818.849060,816.913757,819.320862,...,1.355542,1.308600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-08-01 00:20:00,818.323975,29.494396,819.611572,819.289856,820.808228,819.384216,819.460083,820.118835,819.244202,...,1.361863,1.315129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-08-01 00:30:00,819.604675,29.330263,819.857727,819.296204,819.349243,819.066467,818.818909,818.713257,819.158691,...,1.323431,1.267936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-08-01 00:40:00,821.526184,29.456963,819.666077,820.332581,820.627075,820.719360,819.730835,821.595703,820.747253,...,1.343849,1.280648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153355,2021-06-30 23:10:00,27.408436,27.526560,27.766571,27.404127,26.939030,27.202906,26.899256,26.655487,27.490553,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153356,2021-06-30 23:20:00,27.407352,27.488029,27.798372,27.398758,26.901344,27.243582,26.871965,26.637991,27.498505,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153357,2021-06-30 23:30:00,27.393206,27.499577,27.752710,27.399584,26.891518,27.195532,26.831932,26.626566,27.481943,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153358,2021-06-30 23:40:00,27.396896,27.454544,27.733051,27.381708,26.855377,27.172764,26.830599,26.643572,27.473854,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153359,2021-06-30 23:50:00,27.360914,27.440886,27.734583,27.331905,26.831297,27.138718,26.834709,26.599140,27.464939,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_merged.to_csv('../data/df_merged.csv')