In [4]:
import pandas as pd
import os
from tqdm import tqdm_notebook as tqdm
pd.options.display.max_rows = 999

def preprocess1(df):
    df = df.T
    df = df.iloc[:,[1,2,3,5,7,8,21,22]]
    df.columns = df.iloc[1,:-2].values.tolist() + ['乙烯產量','丙烯產量']
    df.index.name='日期'
    df = df.iloc[2:-2,:]
    return df.dropna(axis=0)


root = '../data/OL_1資料/'
file_list = os.listdir(root)
df = pd.DataFrame()
for file_name in tqdm(file_list[:]):
    try:
        d = pd.read_excel(root+file_name)
        d = preprocess1(d)
        df = df.append(d)
    except:
        print(file_name,'有問題')

display(df.head())
df.to_csv('../data/cleaned_PONA_data.csv')

<ipython-input-4-de6f760fd6de>:18: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for file_name in tqdm(file_list[:]):

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=125.0), HTML(value='')))

OL-1輕油品質與單位用量統計表10403-1.xls 有問題
OL-1輕油品質與單位用量統計表10404-1.xls 有問題

             n-P值   i-P值 n+i  P值 Aromatics      N     O     乙烯產量     丙烯產量
日期
2011-01-01  37.37  37.02   74.39      7.48  14.62  0.38  2027.79  1013.43
2011-01-02  37.55  38.12   75.67      6.57  15.11  0.67  2037.69  1000.64
2011-01-03  37.55  38.12   75.67      6.57  15.11  0.67  2033.38  1032.88
2011-01-04  38.38  40.75   79.13      5.77  12.11  0.67  2092.45  1030.67
2011-01-05  38.38  40.75   79.13      5.77  12.11  0.67  2074.32  1026.67

In [5]:
df = pd.read_csv('../data/cleaned_PONA_data.csv')
print(df.shape)
df.head()

(3613, 9)

,日期,n-P值,i-P值,n+i P值,Aromatics,N,O,乙烯產量,丙烯產量
0,2011-01-01,37.37,37.02,74.39,7.48,14.62,0.38,2027.790,1013.428
1,2011-01-02,37.55,38.12,75.67,6.57,15.11,0.67,2037.689,1000.636
2,2011-01-03,37.55,38.12,75.67,6.57,15.11,0.67,2033.379,1032.877
3,2011-01-04,38.38,40.75,79.13,5.77,12.11,0.67,2092.455,1030.667
4,2011-01-05,38.38,40.75,79.13,5.77,12.11,0.67,2074.320,1026.670