In [15]:
import pandas as pd

df = pd.read_excel('../data/(數值檔)輕油原料COT分析 2020年.xlsx',index_col=0)
df.columns = df.iloc[0,:]
df = df.iloc[1:,1:]
df.index.name = '日期'
df.head()

NaT,LI0101A.PV,LI0102A.PV,LI0101B.PV,LI0102B.PV,LI0111A.PV,LI0112A.PV,LI0111B.PV,LI0112B.PV,MFI4113.PV,C3PRODFI.PV,...,TC1171A.PV,TC1171B.PV,TC1601A.PV,TC1602A.PV,TC1603A.PV,TC1604A.PV,TC1601B.PV,TC1602B.PV,TC1603B.PV,TC1604B.PV
日期,,,,,,,,,,,,,,,,,,,,,
2020-01-01 00:00:00,63.83,65.95,68.03,66.44,0.00,0.00,62.46,62.76,89.13,44.21,...,834.28,831.83,783.81,784.68,796.60,798.19,797.95,799.94,818.75,810.40
2020-01-01 00:10:00,64.63,66.51,68.60,66.92,0.00,0.00,63.26,63.57,89.60,44.20,...,835.79,834.08,784.66,784.29,797.32,797.43,797.89,800.22,818.28,810.03
2020-01-01 00:20:00,65.44,67.22,69.17,67.39,0.00,0.00,64.07,64.38,89.69,44.23,...,837.17,835.68,788.49,785.34,798.06,798.58,798.33,799.24,818.85,810.89
2020-01-01 00:30:00,66.11,67.94,69.74,67.86,0.00,0.00,64.88,65.16,89.92,44.20,...,836.78,834.25,782.14,782.34,796.73,798.09,797.64,798.38,818.59,810.10
2020-01-01 00:40:00,66.78,68.62,70.31,68.37,0.00,0.00,65.68,65.91,90.63,44.20,...,835.66,832.65,785.23,785.68,797.87,796.32,798.22,799.79,818.06,810.14

In [17]:
df.to_csv('../data/cleaned_COT_data.csv')

In [18]:
pd.read_csv('../data/cleaned_COT_data.csv').head()

,日期,LI0101A.PV,LI0102A.PV,LI0101B.PV,LI0102B.PV,LI0111A.PV,LI0112A.PV,LI0111B.PV,LI0112B.PV,MFI4113.PV,...,TC1171A.PV,TC1171B.PV,TC1601A.PV,TC1602A.PV,TC1603A.PV,TC1604A.PV,TC1601B.PV,TC1602B.PV,TC1603B.PV,TC1604B.PV
0,2020-01-01 00:00:00,63.83,65.95,68.03,66.44,0.0,0.0,62.46,62.76,89.13,...,834.28,831.83,783.81,784.68,796.60,798.19,797.95,799.94,818.75,810.40
1,2020-01-01 00:10:00,64.63,66.51,68.60,66.92,0.0,0.0,63.26,63.57,89.60,...,835.79,834.08,784.66,784.29,797.32,797.43,797.89,800.22,818.28,810.03
2,2020-01-01 00:20:00,65.44,67.22,69.17,67.39,0.0,0.0,64.07,64.38,89.69,...,837.17,835.68,788.49,785.34,798.06,798.58,798.33,799.24,818.85,810.89
3,2020-01-01 00:30:00,66.11,67.94,69.74,67.86,0.0,0.0,64.88,65.16,89.92,...,836.78,834.25,782.14,782.34,796.73,798.09,797.64,798.38,818.59,810.10
4,2020-01-01 00:40:00,66.78,68.62,70.31,68.37,0.0,0.0,65.68,65.91,90.63,...,835.66,832.65,785.23,785.68,797.87,796.32,798.22,799.79,818.06,810.14